div.grid-container
	canvas.box-3.primary
		p Primary Color
	canvas.box-3.secondary
	canvas.box-3.accent
	canvas.box-3.accentSecond
	hr.box-12(style='margin:1.5em;')
	canvas(class='box-3' style='background-color:#0084A1; margin-top: 0.5em;')
	canvas(class='box-3' style='background-color:#00656B; margin-top: 0.5em;')
	canvas(class='box-3' style='background-color:hsl(272, 24%, 48%); margin-top: 0.5em;')
	canvas(
		class='box-3'
		style='background-color:#EE6D8A; margin-top: 0.5em;'
	)
div.grid-container

