//- fonts
div.grid-container
	div.box-12
		h1 This is a homepage headline
		h2 Projects Title Here that might take up two lines
		h3 Break up content pages with h3
		h4 Add some extra context with an h4
		h5 Who knows how h5 will get used
		h6 An h6 adds some oomph
		|
		|
		p Lorem ipsum dolor amet scenester man bun listicle semiotics vaporware umami prism ennui plaid hammock. Celiac cloud bread banh mi kinfolk, iPhone man bun kitsch twee salvia deep v #[a.link(href='#' class='underline') craft beer mumblecore] poutine. Fixie lyft ramps flexitarian green juice everyday carry. Palo santo four dollar toast yr trust fund dreamcatcher photo booth, cold-pressed austin 90's vape normcore squid.
		|
		|
		a.link(href='#' class='underline') A standalone link