div.box-12
	h4 Hero
	img.hero__img(src=require('./../../assets/images/fpo_hero.png'))
	hr
|
|
div.box-12
	h4 16x9
	img.img-16x9(src=require('./../../assets/images/fpo_16x9.png'))
	hr
|
|
div.box-12
	h4 4x3
	img.img-4x3(src=require('./../../assets/images/fpo_4x3.png'))
	hr
|
|
div.box-12
	h4 square
	img.img-square(src=require('./../../assets/images/fpo_square.png'))
	hr