include partials/header

body
	//- include partials/primary-nav
	main
		//- include partials/hero
		include layouts/content-index
		//- include partials/coming-soon
		//- include layouts/content-project-dataswap
	include partials/footer
