.coming-soon
	.coming-soon__header Stay tuned!

	h3.coming-soon__text I'm still working on this one.

	.coming-soon__links
		ul
			li.h5 While you're waiting...
			li
				a(class="underline" href="/open-knowledge.html") Open Knowledge
			li
				a(class="underline" href="/data-swap.html") Data Swap