- var global = require('./../../assets/data/global.json')
- var headlineClasses = ['hero__headline', 'hero_headline_primary']
a.hero(href= `${global.link}`)
	img(class='hero__img' src=require("./../../assets/images/fpo_hero.png"))
	h1(class=headlineClasses) #{global.heroTitle}

