nav.primary-nav
	ul.primary-nav__links
		li.primary-nav__logo
			a(href='#')
				img(src=require('./../../assets/images/SVG/lockup-horiz.svg'))
		li.primary-nav__item
			a(class='link underline' href='#') projects
		li.primary-nav__item
			a(class='link underline' href='#') prototypes