- var headlineClasses = ['project-hero__headline', 'project-hero_headline_secondary']

article.project-hero.project-hero-background_exp
	img(class='full-width project-hero__img' src=require("./../../assets/images/dataswap-header.png"))
	h2(class=headlineClasses) The Data Swap
	div.dots