// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$sulphur-spring:            hsl(61, 81%, 47%); //yellow-green
$living-coral:              hsl(5, 100%, 69%);
$chive-blossom:             hsl(272, 24%, 48%); //lavendar-ish
$vivacious:                 hsl(337, 61%, 40%); //red-purple

//unused
$barrier-reef:              hsl(191, 100%, 32%); //blue-green
$deep-lake:                 hsl(183, 100%, 21%); //green-blue
$ibiza-blue:                hsl(199, 100%, 36%); //cerulean
$pink-lemonade:             hsl(347, 79%, 68%);
$viv-white:                 #d6d1d3;
$white:                     white;


// color palette mapping
// =============
$color-key: 'base' !default;

$brand-colors: (
  'primary': (
    'base': $vivacious,
    'light': tint($vivacious),
    'dark': shade($vivacious)
  ),
  'secondary': (
    'base': $sulphur-spring,
    'light': tint($sulphur-spring),
    'dark': shade($sulphur-spring)
  ),
  'accent': (
    'base': $living-coral,
    'light': tint($living-coral),
    'dark': shade($living-coral)
  ),
  'secondary-accent': (
    'base': $ibiza-blue,
    'light': tint($ibiza-blue),
    'dark': shade($ibiza-blue)
  ),
  'neutral': (
    'base': $viv-white,
    'light': tint($viv-white),
    'dark': shade($viv-white)
  )
);


$color-primary:             get-color();
$color-secondary:           get-color('secondary');
$color-accent:              get-color('accent');
$color-secondary-accent:    get-color('secondary-accent');
$color-shadow:              get-color('primary', 'dark');
$color-note:                #666;

// Common colors
$color-background:          white;
$color-text:                get-color('primary', 'dark');

// Links
$color-link:                $color-primary;
$color-link-hover:          $color-accent;
$color-link-visited:        $color-accent;

// Code
$color-code:                #333;
$color-code-background:     #f3f3f3;
$color-pre:                 #d4d4d4;
$color-pre-background:      #333;

// Selections
$color-selection:           #b3d4fc;

// Messages
$color-message:             #f4ecbb;
$color-success:             #2cde2c;
$color-warning:             #cf8600;
$color-important:           #d00;
$color-notice:              #66b;

// Gradients
$gradient-ibiza-sulphur: linear-gradient(to bottom right, get-color('secondary'), get-color('secondary-accent'));

$gradient-vivacious-coral: linear-gradient(to bottom right, get-color('primary'), get-color('accent'));

$gradient-coral-vivacious: linear-gradient(to bottom right, get-color('accent'), get-color('primary'));

$gradient-sulphur-coral: linear-gradient(to bottom right, get-color('secondary'), get-color('accent'));

$gradient-vivacious-ibiza: linear-gradient(to bottom right, get-color('primary'), get-color('secondary-accent'));

$gradient-vivacious-sulphur: linear-gradient(to bottom right, get-color('primary', 'light'), get-color('secondary'));
