@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
  font-size: $base-font-size;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {

  @include grid-container;
  // @include grid-visual;

  align-items: baseline;
  color: $color-text;
  font-family: $font-family-default;
  font-smoothing: antialiased;
  line-height: $baseline * 2;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  display: block;
  position: relative;
}

main, article, section {
  margin: auto;
}

main {
  @include grid-container;
}

article {
  margin-bottom: $baseline * 2;

  @include for-tablet-landscape-up {
    margin-bottom: $baseline * 4;
  }
}

p {
  margin-bottom: $baseline * 2;
  max-width: 36em;
}

a {

  background: transparent;
  color: inherit;
  text-decoration: none;
  transition: .4s;
}

ul,
li {

  list-style-type: none;

}

// .link {
//   @include hover {
//     background-color: get-color('secondary', 'light');
//     color: get-color('primary', 'dark');
//   }
// }

.underline {
  background-image: linear-gradient(get-color('secondary'), get-color('secondary', 'light'));
  background-position: 0 1.3em;
  background-repeat: repeat-x;
  background-size: 8px 3px;

  @include hover {
    background-image: none;
    background-color: get-color('secondary', 'light');
    color: get-color('primary', 'dark');
  }
}

.link__knockout {
  transition: .2s font-style;
  @include hover {
    background: none;
    outline: 2px solid get-color('accent', 'light');
    color: $white;
    font-style: italic;

  }
}

h1, .h1 {
  font-size: map-deep-get($font-size, 'mobile-up', 'h1');
  line-height: $baseline*5;
  font-style: italic;
  font-weight: $font-weight-thin;

  @include for-tablet-landscape-up {
    font-size: map-get-deep($font-size, 'tablet-up', 'h1');
    line-height: $baseline * 7;
  }

  @include for-desktop-up {
    font-size: map-get-deep($font-size, 'desktop-up', 'h1');
    line-height: $baseline * 10;
  }
}

h2, .h2 {
  font-size: map-get-deep($font-size, 'mobile-up', 'h2');
  font-weight: $font-weight-ultra;
  line-height: $baseline * 3;
  letter-spacing: .75px;

  @include for-tablet-portrait-up {
    font-size: map-get-deep($font-size, 'tablet-up', 'h2');
    line-height: $baseline * 4;
  }

  @include for-desktop-up {
    font-size: map-get-deep($font-size, 'desktop-up', 'h2');
    line-height: $baseline * 6;

  }
}

h3, .h3 {
  font-size: map-get-deep($font-size, 'mobile-up', 'h3');
  font-weight: $font-weight-default;
  line-height: $baseline * 3;

  @include for-desktop-up {
    font-size: map-get-deep($font-size, 'desktop-up', 'h3');
    line-height: $baseline * 6;
  }
}

h4, .h4 {
  font-size: map-get-deep($font-size, 'mobile-up', 'h4');
  font-weight: $font-weight-thin;
  font-style: italic;
  line-height: $baseline * 3;
  color: get-color('accent');


  @include for-desktop-up {
    font-size: map-get-deep($font-size, 'desktop-up', 'h4');
    line-height: $baseline * 4;
  }
}

h5, .h5 {
  font-size: map-get-deep($font-size, 'mobile-up', 'h5');
  font-weight: $font-weight-default;
  font-style: italic;

  @include for-desktop-up {
    font-size: map-get-deep($font-size, 'desktop-up', 'h5');
    line-height: $baseline * 3;
  }
}

h6, .h6 {
  font-size: map-get-deep($font-size, 'mobile-up', 'h6');
  font-weight: $font-weight-default;
  text-transform: uppercase;

  @include for-desktop-up {
    font-size: map-get-deep($font-size, 'desktop-up', 'h6');
  }
}

hr {
  color: get-color('primary', 'light');
  margin: $baseline 0;
  width: 100%;
}

.hr_vertical {
  position: absolute;
  transform: rotate(90deg);
  z-index: 0;

  // top: 20%;
  right: 47%;

}

// blockquote {
//   text-align: center;
//   // background: get-color('secondary', 'light');
//   max-width: 36em;
//   margin: auto;
//   margin-bottom: $baseline;
//   padding: $baseline/2;
//   font-weight: $font-weight-default;
//   font-style: italic;
// }

blockquote {
  // background: get-color('neutral', 'light');
  border-left: $baseline solid get-color('neutral', 'light');
  margin: $baseline * 2 $baseline;
  padding: $baseline/2 $baseline;
  quotes: "\201C""\201D""\2018""\2019";

  &::before {
    color: get-color('neutral', 'light');
    content: open-quote;
    font-size: map-deep-get($font-size, 'mobile-up', 'h1');
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;

    @include for-tablet-portrait-up {
      font-size: map-deep-get($font-size, 'tablet-up', 'h1');
    }

    @include for-desktop-up {
      font-size: map-deep-get($font-size, 'desktop-up', 'h1');
    }
  }

  p {
    display: inline;
  }
}

figure {
  display: flex;
  flex-flow: column;
}

figcaption {
  text-align: right;
  background: get-color('neutral');
  padding-right: $baseline;

  @include for-tablet-landscape-up {
    @include grid-column(6);
    @include grid-push(6);
  }
}

.iframe {
  max-width: 36em;
  width: 100%;
  max-height: 400px;
  height: 100%;
}
