img {
  height: auto;
  max-width: 100%;
}

figure {
	margin-bottom: $baseline * 2;

	img {
		margin-bottom: $baseline;
	}
}

figcaption {
	font-size: map-get-deep($font-size, 'mobile-up', 'h4');

	@include for-desktop-only {
		font-size: map-get-deep($font-size, 'desktop-up', 'h4')
	}
}