.primary-nav {
	min-height: $baseline*4;
	padding: $baseline*2 $baseline $baseline;
	// background: linear-gradient(to bottom, get-color('secondary', 'light'), white), linear-gradient(to bottom right, $white, white);
	background-color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: $baseline;

	@include for-tablet-portrait-up {
		flex-direction: row;
		align-items: center;
	}
}

.primary-nav__links {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	list-style-type: none;
	width: 70%;

	@include for-tablet-portrait-up {
		justify-content: flex-end;
	}
}

// .primary-nav__links {
// 	display: grid;
// 	grid-template-columns: 2fr 1fr 1fr;
// 	grid-template-rows: 1fr;
// 	grid-template-areas: "Logo link1 link2";
// 	height: 4vh;
// 	align-items: stretch;
// 	grid-gap: $baseline;
// 	justify-content: end;
// }

.primary-nav__logo {
	float: left;
	width: 80%;
	height: 100%;
	max-width: $baseline * 25;
	// align-self: flex-end;
	// margin-right: $baseline * 2;

	@include for-tablet-portrait-up {
		width: 60%;
		margin-right: $baseline;
	}

	@include for-tablet-landscape-up {
		width: 40%;
	}

}

.primary-nav__item {
	&:not(:last-child) {
		margin-right: $baseline;

		@include for-big-desktop-up {
			margin-right: $baseline*4;
		}
	}

	@include for-tablet-portrait-up {
		margin-right: $baseline*2;
	}

	@include for-desktop-up {
		font-size: map-get-deep($font-size, 'mobile-up', 'h3');
	}
}