.content {
	@include grid-column(12);

}

.titleA { grid-area: titleA; }

.titleB { grid-area: titleB; }

.dataA {
	grid-area: dataA;
}

.dataB { grid-area: dataB; }


.highlights {
	display: grid;
	grid-template-columns: .25fr 1fr .25fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "titleA dataA titleB dataB";
	grid-column-gap: $baseline;
	// margin: $baseline * 3 auto $baseline * 2;
	max-width: 36em;
	justify-items: center;
	width: 100%;

	padding-top: $baseline * 5;
	padding-bottom: $baseline * 2;

	@include for-tablet-portrait-up {
		// width: 60%;
		margin: auto;
		justify-items: center;
	}

	@include for-tablet-landscape-up {
		// width: 50%;
	}

	@include for-desktop-up {
		// grid-template-columns: .25fr 2.25fr .25fr 1fr;
		// width: 40%;
		grid-column-gap: $baseline * 3;
	}
}

.highlights__title {
	// padding: $baseline 0;
	// align-self: end;
	// justify-self: center;
	writing-mode:vertical-rl;
	// transform: rotate(180deg);
	text-transform: uppercase;
	line-height: $baseline;
}

.highlights__list {
	// @include for-tablet-portrait-up {
		align-self: start;
		justify-self: start;
	// }
}

.highlights__skill {
	margin-bottom: 2px;
}

.project-writeup {
	margin: auto;
}

.project-md {

	// Remove this when possible
	p, h3, ul, li {
		display: block;
		margin: $baseline * 2 auto;
		max-width: 36em;
	}
	ul, li {list-style-type: disc;}
	h3 {text-align: center}
}

.project-md {
	a {
		background-image: linear-gradient(get-color('secondary'), get-color('secondary', 'light'));
		background-position: 0 1.3em;
		background-repeat: repeat-x;
		background-size: 8px 3px;

		@include hover {
		  background-image: none;
		  background-color: get-color('secondary', 'light');
		  color: get-color('primary', 'dark');
		}
	}
}