.content {
	@include grid-column(12);

}

.highlights {
	height: 90vh;
	max-width: 36em;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	@include for-desktop-up {
		width: 80%;
	}
}

.titleA, .titleB, .dataA, .dataB {
	display: inline-grid;
}

.titleA { grid-area: titleA; }

.titleB { grid-area: titleB; }

.dataA {
	grid-area: dataA;
	text-align: right;
	justify-self: end;

	// @include for-desktop-up {
	// 	text-align: left;
	// 	justify-self: start;
	// }
}

.dataB {
	grid-area: dataB;
	justify-self: start;

	// @include for-desktop-up {
	// 	text-align: right;
	// }
}


.highlights__grid {
	position: relative;
	padding-top: $baseline * 2;
	display: grid;
	grid-template-columns: 1fr .25fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: " dataA titleA emptyA" "emptyC titleB dataB";
	grid-column-gap: $baseline;
	grid-row-gap: $baseline * 4;
	justify-content: space-around;
	justify-items: center;
	align-items: start;

	// @include for-desktop-up {
	// 	grid-template-columns: .25fr 1fr 1fr 1fr .25fr;
	// 	grid-template-rows: 1fr;
	// 	grid-template-areas: "titleA dataA empty dataB titleB";
	// }
}

.highlights__title {
	// padding: $baseline 0;
	// align-self: end;
	// justify-self: center;
	writing-mode:vertical-rl;
	// transform: rotate(180deg);
	text-transform: uppercase;
	line-height: $baseline;
}

.highlights__list {
	// @include for-tablet-portrait-up {
	// }
}

.highlights__skill {
	margin-bottom: $baseline;
	border-bottom: 1px dotted;
}

.project-writeup {
	margin: auto;
	max-width: 36em;
}

.project-md {
	display: block;

	// Remove this when possible
	p, ul{
		// margin: $baseline * 2 auto;
		max-width: 36em;
	}

	h3 {
		margin: $baseline * 2 auto $baseline;
	}

	ul, li {
		// list-style-type: disc;
		text-align: center;
	}

	h3 {
		text-align: center
	}

	a {
		background-image: linear-gradient(get-color('secondary'), get-color('secondary', 'light'));
		background-position: 0 1.3em;
		background-repeat: repeat-x;
		background-size: 8px 3px;

		@include hover {
		  background-image: none;
		  background-color: get-color('secondary', 'light');
		  color: get-color('primary', 'dark');
		}
	}
}